.bg {
    margin: 0;
    overflow: auto;
}

.bg::before {
    content: "";
    background-image: url("./images/food-4k-1pf6px6ryqfjtnyr.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(24px); 
}

.topBar {
    background-color: rgba(255, 167, 68, 0.95);
    width: 100%;
    height: 3.5vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.topBarButtons{
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    position: fixed;
    right: 3%;
    top: 0.7vw;
    justify-content: space-around;
    align-items: center;
}
.buttons {
    width: 2vw; /* Set a standard width for all images */
    height: auto; /* Maintain aspect ratio */
}

.searchBarBox {
    background-color: rgba(0, 0, 0, 0.5);
    width: 20vw;
    height: 10vw;
    margin: auto;
    margin-top:15vw;
    border-radius: 1vw;
}

.createBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20vw;
    height: 16vw;
    margin: auto;
    margin-top:15vw;
    border-radius: 1vw;
}

::placeholder {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.searchBar{
    width: 18vw;
    margin: 0 auto;
    border-radius: 0.3vw;
    background-color: rgba(255, 167, 68, 0.95);
    color: white;
}

#createImg {
    display: none;
}

#createImgLabel {
    width: 18vw;
    height: 1vw;
    margin: 0 auto;
    border-radius: 0.3vw;
    background-color: rgba(255, 167, 68, 0.95);
    color: white;
    text-align: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

#createImgLabel:hover {
    background-color: rgba(255, 188, 112, 0.95);
}

#createName {
    font-size:75%;
    width: 18vw;
    height: 1vw;
    margin: 0 auto;
    border-radius: 0.3vw;
    background-color: rgba(255, 167, 68, 0.95);
    color: white;
}

#createIngredients {
    width: 18vw;
    height: 3vw;
    margin: 0 auto;
    border-radius: 0.3vw;
    background-color: rgba(255, 167, 68, 0.95);
    color: white;
}

#createRecipe {
    width: 18vw;
    height: 7vw;
    margin: 0 auto;
    border-radius: 0.3vw;
    background-color: rgba(255, 167, 68, 0.95);
    color: white;
}

.info {
    background-color: rgba(0, 0, 0, 0.5);
    width:50vw;
    height: 86vw;
    margin: auto;
    margin-top: 5vw;
    border-radius: 1vw;
}

.aboutTitle {
    color: white;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2vw;
    padding-top: 1vw;;
}

.writing {
    color: white;
    text-align: center;
    font-size: 1vw;
    margin: 1vw;
    padding: 0.5vw;
    font-family: 'Courier New', Courier, monospace;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search-box {
    border: 3px solid rgba(164, 88, 0, 0.95);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 167, 68, 0.95)
}

.search-box::placeholder {
    color: rgba(164, 88, 0, 0.95);
    font-family: "Times New Roman", Times, serif;
  }

.search-button {
    border: 3px solid rgba(164, 88, 0, 0.95);
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(255, 167, 68, 0.95);
    color: rgba(164, 88, 0, 0.95);
    font-family: "Times New Roman", Times, serif;
}

.search-button:hover {
    background-color: rgba(255, 188, 112, 0.95);;
}