.bg {
    margin: 0;
    overflow: auto;
}

.bg::before {
    content: "";
    background-image: url("./images/food-4k-1pf6px6ryqfjtnyr.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(24px); 
}

.topBar {
    background-color: orange;
    width: 100%;
    height: 3.5vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.topBarButtons{
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    position: fixed;
    right: 3%;
    top: 0.7vw;
    justify-content: space-around;
    align-items: center;
}
.buttons {
    width: 2vw; /* Set a standard width for all images */
    height: auto; /* Maintain aspect ratio */
}

.searchBarBox {
    background-color: rgba(0, 0, 0, 0.5);
    width: 20vw;
    height: 10vw;
    margin: auto;
    margin-top:20vw;
    border-radius: 1vw;
}

.searchBar{
    margin: auto;
    background-color: orange;
    color: white;
}

.info {
    background-color: rgba(0, 0, 0, 0.5);
    width:50vw;
    height: 60vw;
    margin: auto;
    margin-top: 5vw;
    border-radius: 1vw;
}

.aboutTitle {
    color: white;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2vw;
    padding-top: 1vw;;
}

.writing {
    color: white;
    text-align: center;
    font-size: 1vw;
    margin: 1vw;
    padding: 0.5vw;
    font-family: 'Courier New', Courier, monospace;
}